<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Electronics_Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="row pt-3 bg-light border-bottom border-success">
            <div class="col-3 text-center text-dark">
                <h4 class="">Название сайта</h4>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Должность или компания" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <input class="btn btn-outline-success" type="submit" id="button-addon2" value="Найти">
                    </div>
                </div>
            </div>
            <div class="col-3 text-center">
                <a href="#" class="btn btn-outline-success">Войти</a>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="py-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="pt-3 bg-light border-top border-success text-dark">
            <div class="container">
                <h5>2021 - Название сайта</h5>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
